<ion-header>
  <ion-navbar color="primary">
    <ion-title>AD Sousa</ion-title>
    <ion-buttons right>
      <!-- <button ion-button clear (click)="setFilterAno()">2018</button> -->
      <button ion-button clear (click)="add()">
        <ion-icon name="paper"></ion-icon> Criar Relatorio
      </button>
      <!-- <button ion-button clear (click)="config()">
        <ion-icon name="settings"></ion-icon>
      </button> -->
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar> -->
  <ion-list>
    <div *ngFor="let relatorio of relatorios; index as i">
      <reportlinecontrollers [relatorio]="relatorio" (onCopyReport)="copyReport(relatorio, relatorio)"></reportlinecontrollers>
      <div style="margin-left: 30px;">
        <reportlinecontrollers class="copia" *ngFor="let copyrport of relatorio.copias" [relatorio]="copyrport" [root]="relatorio" (onCopyReport)="copyReport(copyrport, relatorio)"></reportlinecontrollers>
      </div>
    </div>
  </ion-list>

  <div class="empty" [hidden]="relatorios==0?false:true">
    <ion-icon name="paper"></ion-icon>
    <p>Nenhum relatório criado. Para criar um novo relatório click na opção Criar Relatório no canto superior direito desta tela.</p>
  </div>
</ion-content>